<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>335907967154-10djetkqnv1nv7ghmqagkjoq89fa241g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.335907967154-10djetkqnv1nv7ghmqagkjoq89fa241g</string>
	<key>API_KEY</key>
	<string>AIzaSyANizv_ybgzGOzytTTZeNa_LdLW6lsuHp4</string>
	<key>GCM_SENDER_ID</key>
	<string>335907967154</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.toilLife</string>
	<key>PROJECT_ID</key>
	<string>toillife</string>
	<key>STORAGE_BUCKET</key>
	<string>toillife.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:335907967154:ios:772f17de627a30df7979ab</string>
</dict>
</plist>